*{
    padding: 0%;
    margin: 0%;
}
.container{
    width: 100%;
    background-color: rgb(12, 115, 254);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.face{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img1{
 width: 30%;
 height: 40%;
}
.b1{
    width: 20%;
    height: 30%;
    border:0;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(12, 115, 254);
    color: aliceblue;
}
.b1 img{
    width: 23%;
    margin:4px;
}
.b2{
    width: 23%;
    height: 30%;
    border:0;
    border-radius: 5%;
    background-color: rgb(12, 115, 254);
}
.b2 img{
    width: 23%;
}
.b1:hover{
    background-color: rgb(57, 142, 253);
}
.b2:hover{
    background-color: rgb(57, 142, 253);
}
.p1{
    font-size: 5vh;
    color: aliceblue;
    margin-left: 35%;
    font-family:Arial, Helvetica, sans-serif;
}
.p2{
    font-size: 2.5vh;
    color: aliceblue;
    margin-left: 43%;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0.5%;
}
.p3{
    font-size: 2vh;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;

}
.face2{
    width: 100%;
    height: 90%;
    background-color: rgb(12, 115, 254);
    padding-top: 5%;
}
.buf{
    width: 100%;
    height: 10vh;
    background-color:rgb(12, 115, 254) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%;
}
.bt1{
    width: 30%;
    height: 7vh;
    background-color:  rgb(36, 103, 189);
    border-radius: 20px;
    margin-right:1%;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bt2{
    width: 6%;
    height: 70%;
    border-radius: 15px;
    border: none;
    background-color: rgb(52, 136, 246);
}
.bt2 img{
    width: 25%;
    height: 35%;
    margin-top: 9%;
    margin-left: 40px;
}
.bt2 p{
    font-size: 1.5vh;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 3%;
    color: #BABABA;
    margin-left: 15px;
}
.but{
    width: 17%;
    height: 85%;
    background-color:  rgb(36, 103, 189);

    border-radius: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.but img{
    width: 25%;
    height: 35%;
    margin-top: 9%;
}
.but p{
    font-size: 1.5vh;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 3%;
    color: #000000;
}

.activ{
    background-color:  rgb(255, 255, 255);
    
}
.but:hover{
    background-color: rgb(72, 125, 193) ;
}
.in{
    width: 100%;
    height: 20vh;
    background-color: rgb(12, 115, 254);
    display: flex;
    justify-content: center;
}
.s{
    width: 19.5%;
    height: 7vh;
    background-color: aliceblue;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.s1{
    width: 19.5%;
    height: 7vh;
    background-color: aliceblue;
    border: none;
}
.s2{
    width: 19.5%;
    height: 7vh;
    background-color: aliceblue;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.inputs{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.in button{
    width: 10%;
    height: 7vh;
    background-color: rgb(236, 125, 21);
    border:none;
    border-radius: 15px;
    margin-left: 10px;
}
.platform{
    width: 100%;
    height: 100vh;
    background-color: #d2d2d2;
}
.pl1{
    width: 40%;
    height: 45vh;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    margin-left: 30%;
    position: relative;
    top: -8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.er1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}
.slaider button{
    width:70%;
    height: 5vh;
    border-radius: 70%;
    margin:5px;
    margin-bottom: 25px;
    margin-left: 5px;
    border: none;
    color: #cecece;
}
.galery{
    width: 300%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    transform: translateX(-20%);
    transition: 0.5s;
}
.galeryContainer{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.galery div{
    width: 20%;
    height: 70%;
    background-color: black;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.r1{
    font-size: 3vh;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.r2{
    font-size: 2vh;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.br1{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
}
.br1 button{
    width: 50%;
    height: 5vh;
    background-color: #e7e5e5;
    border: none;
    border-radius: 18px;
}
.pl2{
    width: 40%;
    height: 35vh;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pl3{
    width: 40%;
    height: 7vh;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    margin-left: 30%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pl3 img{
    width: 6%;
    height: 50%;
    margin: 10px;
    
}
.slaider{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.img1{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.img2{
    width: 45%;
    height: 50%;
    position: relative;
    top: -20px;
}
.rec1 button{
    width: 50%;
    height: 5vh;
    background-color: #e7e5e5;
    border: none;
    border-radius: 18px;
    margin-top: 10px;
}
.img3{
    width: 90%;
    height: 80%;
    border-radius: 15px;
    margin-top: 15px;
}
.bluep{
    font-size: 2vh;
    color: rgb(38, 84, 249);
    font-family:Arial, Helvetica, sans-serif;
}








.x{
    font-size: 20pt;
    font-family: 'Schadow BT';
    text-align: left;
    color: rgb(69, 71, 68);
}
.x2{
    font-size: 13pt;
    font-family: 'Schadow BT';
    text-align: left;
    color: rgb(116, 117, 116);
}
.d1{
    display:flex;
    width: 100%;
    height: 10vh;
    flex-direction: row;
}
.d2{
    display:flex;
    width: 100%;
    height: 35vh;
    flex-direction: row;
}
.dr1{
    width: 20%;
    height: 35vh;
    margin-left: 5vh;
}
.dr2{
    width: 18%;
    height: 10vh;
    margin-left: 5vh;
}
.dr3{
    display: flex;
    width: 18%;
    height: 10vh;
    margin-left: 5vh;
    flex-direction: column;
}
.ut{
    width: 9%;
    height: 3vh;
}
.w4{
    margin-top: 15px;
}